Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

Inline `endsNotWith` function
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/PathAssertionsBuilder.kt
Due: none

Inline `endsWith` function
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/PathAssertionsBuilder.kt
Due: none

Inline `startsNotWith` function
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/PathAssertionsBuilder.kt
Due: none

Inline `startsWith` function
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/PathAssertionsBuilder.kt
Due: none

Path.endsNotWith (#197)
  apis/fluent-en_GB/extensions/jdk8/atrium-api-fluent-en_GB-jdk8-jvm/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/jdk8/pathAssertions.kt
  apis/fluent-en_GB/extensions/jdk8/atrium-api-fluent-en_GB-jdk8-jvm/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/jdk8/PathAssertionsSpec.kt
  domain/api/atrium-domain-api-jvm/src/main/kotlin/ch/tutteli/atrium/domain/creating/PathAssertions.kt
  domain/builders/atrium-domain-builders-jvm/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/PathAssertionsBuilder.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/pathAssertions.kt
  domain/robstoll/atrium-domain-robstoll-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/PathAssertionsImpl.kt
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathAssertionsSpec.kt
  translations/de_CH/atrium-translations-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionPathAssertion.kt
  translations/en_GB/atrium-translations-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionPathAssertion.kt
Due: api, domain

Change spek_Version to 2.0.7
  build.gradle
Due: none

#164: Replace SubjectProvider with expect
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/charSequenceAssertions.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/CharSequenceAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/charSequenceAssertionsBuilders.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charSequenceAssertions.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/CharSequenceAssertionsImpl.kt
  gradle.properties
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/CharSequenceAssertionsSpec.kt
Due: api, domain

#164: Removwe extra Gradle properties
  gradle.properties
Due: none

#164: Correct doc comment
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/charSequenceAssertions.kt
Due: api

add charsequence matches (#201)
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/charSequenceAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/CharSequenceAssertionsSpec.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/CharSequenceAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/creating/charSequenceAssertionsBuilders.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/charSequenceAssertions.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/CharSequenceAssertionsImpl.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/CharSequenceAssertionsSpec.kt
  translations/de_CH/atrium-translations-de_CH-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionCharSequenceAssertion.kt
  translations/en_GB/atrium-translations-en_GB-common/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionCharSequenceAssertion.kt
Due: api, domain

improve KDoc of CharSequence.matches/mismatches
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/charSequenceAssertions.kt
Due: api

cleanup remove duplicated dependencies from build.gradle
  apis/fluent-en_GB/extensions/jdk8/atrium-api-fluent-en_GB-jdk8-android/build.gradle
  apis/fluent-en_GB/extensions/jdk8/atrium-api-fluent-en_GB-jdk8-common/build.gradle
  bundles/fluent-en_GB/atrium-fluent-en_GB-js/build.gradle
  domain/api/atrium-domain-api-android/build.gradle
Due: api, domain

allow kotlin 1.3 for specs modules
  misc/specs/atrium-specs-android/build.gradle
  misc/specs/atrium-specs-common/build.gradle
  misc/specs/atrium-specs-js/build.gradle
  misc/specs/atrium-specs-jvm/build.gradle
Due: none

introduce kotlin 1.3 extensions for bundle, api and domain
  apis/fluent-en_GB/extensions/kotlin_1_3/atrium-api-fluent-en_GB-kotlin_1_3-android/build.gradle
  apis/fluent-en_GB/extensions/kotlin_1_3/atrium-api-fluent-en_GB-kotlin_1_3-common/build.gradle
  apis/fluent-en_GB/extensions/kotlin_1_3/atrium-api-fluent-en_GB-kotlin_1_3-js/build.gradle
  apis/fluent-en_GB/extensions/kotlin_1_3/atrium-api-fluent-en_GB-kotlin_1_3-jvm/build.gradle
  apis/fluent-en_GB/extensions/kotlin_1_3/atrium-api-fluent-en_GB-kotlin_1_3-jvm/src/module/module-info.java
  build.gradle
  bundles/fluent-en_GB-kotlin_1_3/atrium-fluent-en_GB-kotlin_1_3-android/build.gradle
  bundles/fluent-en_GB-kotlin_1_3/atrium-fluent-en_GB-kotlin_1_3-common/build.gradle
  bundles/fluent-en_GB-kotlin_1_3/atrium-fluent-en_GB-kotlin_1_3-js/build.gradle
  bundles/fluent-en_GB-kotlin_1_3/atrium-fluent-en_GB-kotlin_1_3-js/src/main/kotlin/ch/tutteli/atrium/fluent/en_GB/kotlin_1_3/dependOnMe.kt
  bundles/fluent-en_GB-kotlin_1_3/atrium-fluent-en_GB-kotlin_1_3-js/src/test/kotlin/ch/tutteli/atrium/fluent/en_GB/kotlin_1_3/JsNameAmbiguityTest.kt
  bundles/fluent-en_GB-kotlin_1_3/atrium-fluent-en_GB-kotlin_1_3-js/src/test/kotlin/testSetup.kt
  bundles/fluent-en_GB-kotlin_1_3/atrium-fluent-en_GB-kotlin_1_3-jvm/build.gradle
  bundles/fluent-en_GB-kotlin_1_3/atrium-fluent-en_GB-kotlin_1_3-jvm/src/module/module-info.java
  bundles/fluent-en_GB-kotlin_1_3/atrium-fluent-en_GB-kotlin_1_3-jvm/src/test/kotlin/custom/SmokeSpec.kt
  bundles/fluent-en_GB-kotlin_1_3/atrium-fluent-en_GB-kotlin_1_3-smoke-test/src/test/kotlin/module-info.java
  domain/api/extensions/kotlin_1_3/atrium-domain-api-kotlin_1_3-android/build.gradle
  domain/api/extensions/kotlin_1_3/atrium-domain-api-kotlin_1_3-common/build.gradle
  domain/api/extensions/kotlin_1_3/atrium-domain-api-kotlin_1_3-js/build.gradle
  domain/api/extensions/kotlin_1_3/atrium-domain-api-kotlin_1_3-jvm/build.gradle
  domain/api/extensions/kotlin_1_3/atrium-domain-api-kotlin_1_3-jvm/src/module/module-info.java
  domain/builders/extensions/kotlin_1_3/atrium-domain-builders-kotlin_1_3-android/build.gradle
  domain/builders/extensions/kotlin_1_3/atrium-domain-builders-kotlin_1_3-common/build.gradle
  domain/builders/extensions/kotlin_1_3/atrium-domain-builders-kotlin_1_3-js/build.gradle
  domain/builders/extensions/kotlin_1_3/atrium-domain-builders-kotlin_1_3-jvm/build.gradle
  domain/builders/extensions/kotlin_1_3/atrium-domain-builders-kotlin_1_3-jvm/src/module/module-info.java
  domain/robstoll-lib/extensions/kotlin_1_3/atrium-domain-robstoll-lib-kotlin_1_3-android/build.gradle
  domain/robstoll-lib/extensions/kotlin_1_3/atrium-domain-robstoll-lib-kotlin_1_3-common/build.gradle
  domain/robstoll-lib/extensions/kotlin_1_3/atrium-domain-robstoll-lib-kotlin_1_3-js/build.gradle
  domain/robstoll-lib/extensions/kotlin_1_3/atrium-domain-robstoll-lib-kotlin_1_3-jvm/build.gradle
  domain/robstoll-lib/extensions/kotlin_1_3/atrium-domain-robstoll-lib-kotlin_1_3-jvm/src/module/module-info.java
  domain/robstoll/extensions/kotlin_1_3/atrium-domain-robstoll-kotlin_1_3-android/build.gradle
  domain/robstoll/extensions/kotlin_1_3/atrium-domain-robstoll-kotlin_1_3-common/build.gradle
  domain/robstoll/extensions/kotlin_1_3/atrium-domain-robstoll-kotlin_1_3-js/build.gradle
  domain/robstoll/extensions/kotlin_1_3/atrium-domain-robstoll-kotlin_1_3-jvm/build.gradle
  domain/robstoll/extensions/kotlin_1_3/atrium-domain-robstoll-kotlin_1_3-jvm/src/module/module-info.java
  settings.gradle
Due: api, domain

prepare Result assertions
  apis/fluent-en_GB/extensions/kotlin_1_3/atrium-api-fluent-en_GB-kotlin_1_3-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/kotlin_1_3/resultAssertions.kt
  domain/api/extensions/kotlin_1_3/atrium-domain-api-kotlin_1_3-common/src/main/kotlin/ch/tutteli/atrium/domain/kotlin_1_3/creating/ResultAssertions.kt
  domain/builders/extensions/kotlin_1_3/atrium-domain-builders-kotlin_1_3-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/kotlin_1_3/creating/ResultAssertionsBuilder.kt
  domain/robstoll-lib/extensions/kotlin_1_3/atrium-domain-robstoll-lib-kotlin_1_3-common/src/main/kotlin/ch/tutteli/atrium/domain.robstoll.lib.kotlin_1_3/creating/resultAssertions.kt
  domain/robstoll/extensions/kotlin_1_3/atrium-domain-robstoll-kotlin_1_3-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll.kotlin_1_3/creating/ResultAssertionsImpl.kt
Due: api, domain

Update domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/pathAssertions.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/pathAssertions.kt
Due: domain

make the distinction of platform and extension in github templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/good_first_issue.md
Due: none

fileNameFeature && fun
  apis/fluent-en_GB/extensions/jdk8/atrium-api-fluent-en_GB-jdk8-jvm/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/jdk8/PathFeatureAssertionsSpec.kt
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathFeatureAssertionsSpec.kt
Due: api

Simplify relative path test
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/assertions/filesystem/SymbolicLinkResolvingSpec.kt
Due: domain

fileNameFeature && fun
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathFeatureAssertionsSpec.kt
Due: none

it ref missing
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/pathAssertions.kt
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathAssertionsSpec.kt
Due: domain

Fuse `exists` and `existsNot` describe functions
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathAssertionsSpec.kt
Due: none

Fuse `startsWith` and `startsNotWith` describe functions
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathAssertionsSpec.kt
Due: none

Fuse `endsWith` and `endsNotWith` describe functions
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathAssertionsSpec.kt
Due: none

Improve test descriptions to include function name and scenario
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathAssertionsSpec.kt
Due: none

Improve exists & existsNot contexts
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathAssertionsSpec.kt
Due: none

Simplify test descriptions
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathAssertionsSpec.kt
Due: none

ATRIUM-47 - Translations for Optional specs
  translations/de_CH/atrium-translations-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionOptionalAssertion.kt
  translations/en_GB/atrium-translations-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionOptionalAssertion.kt
Due: none

ATRIUM-47 - Optional is empty spec
  apis/fluent-en_GB/extensions/jdk8/atrium-api-fluent-en_GB-jdk8-jvm/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/jdk8/OptionalAssertionsSpec.kt
  build.gradle
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/optionalAssertions.kt
  domain/robstoll/atrium-domain-robstoll-jvm/src/main/resources/META-INF/services/ch.tutteli.atrium.domain.creating.OptionalAssertions
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/OptionalAssertionsSpec.kt
Due: api, domain

ATRIUM-47 - Include a SubjectLessSpec in OptionalAssertionsSpec
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/OptionalAssertionsSpec.kt
Due: none

Inline assertion messages
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathAssertionsSpec.kt
Due: none

Optional isEmpty spec (#205)
  apis/fluent-en_GB/extensions/jdk8/atrium-api-fluent-en_GB-jdk8-jvm/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/jdk8/OptionalAssertionsSpec.kt
  build.gradle
  domain/robstoll-lib/atrium-domain-robstoll-lib-jvm/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/optionalAssertions.kt
  domain/robstoll/atrium-domain-robstoll-jvm/src/main/resources/META-INF/services/ch.tutteli.atrium.domain.creating.OptionalAssertions
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/OptionalAssertionsSpec.kt
  translations/de_CH/atrium-translations-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionOptionalAssertion.kt
  translations/en_GB/atrium-translations-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/translations/DescriptionOptionalAssertion.kt
Due: api, domain

Added signature of include.
  misc/specs/atrium-specs-js/src/main/kotlin/org/spekframework/spek2/dsl/Root.kt
Due: none

Update Root.kt
  misc/specs/atrium-specs-js/src/main/kotlin/org/spekframework/spek2/dsl/Root.kt
Due: none

#193 upgrade spek to 2.0.7 and use spek's `include` (#195)
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/CharSequenceContainsAtLeastAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/CharSequenceContainsRegexAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/IterableAnyAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/IterableContainsInAnyOrderAtLeast1ElementsOfAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/IterableContainsInAnyOrderAtLeast1ValuesAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/IterableContainsInOrderOnlyEntriesAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/IterableContainsInOrderOnlyValuesAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/IterableContainsNotValuesAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/IterableNoneAssertionsSpec.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/BigDecimalAssertionsSpec.kt
  build.gradle
  core/api/atrium-core-api-common/src/test/kotlin/ch/tutteli/atrium/assertions/builders/DescriptiveWithBasedOnSubjectSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/SpekExtensions.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableAssertionsSpec.kt
  misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/IterableContainsInAnyOrderOnlyValuesAssertionsSpec.kt
  misc/specs/atrium-specs-js/src/main/kotlin/org/spekframework/spek2/dsl/Root.kt
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/FloatingPointWithErrorToleranceAssertionsJvmSpec.kt
Due: api, core

Use path as context for startsWith and startsNotWith tests
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathAssertionsSpec.kt
Due: none

Use path as context for endsWith and endsNotWith tests
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathAssertionsSpec.kt
Due: none

Use same context for startsWith, startsNotWith, endsWith, endsNotWith
  misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/specs/integration/PathAssertionsSpec.kt
Due: none

add `result` to `ExpectImpl` for kotlin 1.3 extension
  domain/builders/extensions/kotlin_1_3/atrium-domain-builders-kotlin_1_3-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/kotlin_1_3/ExpectImplExtensions.kt
Due: domain

Path conditions:
  api: any of: apis/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/ExpectImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, misc/specs/**/*, misc/atrium-bc-test/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  domain: any of: domain/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/ExpectImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, misc/specs/**/*, misc/atrium-bc-test/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  core: any of: core/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/ExpectImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, misc/specs/**/*, misc/atrium-bc-test/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  misc: any of: misc/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/ExpectImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, misc/specs/**/*, misc/atrium-bc-test/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
