Repository robstoll/atrium: changes, and which Codecov flags are due for each by the changed paths.
All: api, domain, core, misc

fix broken linkMapping url and use jdkVersion8 for ghPages
  gradle/scripts/gh-pages.gradle
Due: none

prepare next dev cycle
  .github/CONTRIBUTING.md
  README.md
  apis/differences.md
  build.gradle
Due: api

start to document examples in README via specs
  README.md
  misc/maven/example-pom.xml
  misc/readme-examples/build.gradle
  misc/readme-examples/src/main/kotlin/readme/examples/ReadmeExecutionListener.kt
  misc/readme-examples/src/main/kotlin/readme/examples/ReadmeReporterFactory.kt
  misc/readme-examples/src/main/kotlin/readme/examples/ReadmeSpec.kt
  misc/readme-examples/src/main/kotlin/readme/examples/ReadmeTestEngine.kt
  misc/readme-examples/src/main/resources/META-INF/services/ch.tutteli.atrium.reporting.ReporterFactory
  misc/readme-examples/src/main/resources/META-INF/services/org.junit.platform.engine.TestEngine
  settings.gradle
Due: misc

allow to insert snippets next to examples
  README.md
  misc/readme-examples/build.gradle
  misc/readme-examples/src/main/kotlin/readme/examples/ReadmeExecutionListener.kt
  misc/readme-examples/src/main/kotlin/readme/examples/ReadmeSpec.kt
  misc/readme-examples/src/main/kotlin/readme/examples/ReadmeTestEngine.kt
Due: misc

fix example link and make it dynamic passed on current sourceMapping
  README.md
  build.gradle
  gradle/scripts/gh-pages.gradle
  misc/readme-examples/build.gradle
  misc/readme-examples/src/main/kotlin/readme/examples/ReadmeTestEngine.kt
Due: misc

mark new functions with since 0.9.0
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/charSequenceAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/featureAssertions.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/mapEntryAssertions.kt
  apis/fluent-en_GB/extensions/atrium-api-fluent-en_GB-jdk8/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/jdk8/optionalAssertions.kt
  apis/fluent-en_GB/extensions/atrium-api-fluent-en_GB-jdk8/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/jdk8/pathAssertions.kt
Due: api

move readme-examples to samples
  samples/readme-examples/build.gradle
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeExecutionListener.kt
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeReporterFactory.kt
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeSpec.kt
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeTestEngine.kt
  samples/readme-examples/src/main/resources/META-INF/services/ch.tutteli.atrium.reporting.ReporterFactory
  samples/readme-examples/src/main/resources/META-INF/services/org.junit.platform.engine.TestEngine
  settings.gradle
Due: none

use new fail-ifno-tests flag for ConsoleLauncher
  samples/readme-examples/build.gradle
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeTestEngine.kt
  samples/readme-examples/src/main/resources/META-INF/services/org.junit.platform.engine.TestEngine
Due: none

allow to add code samples without an error, rewrite further examples
  README.md
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeExecutionListener.kt
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeSpec.kt
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeTestEngine.kt
Due: none

transform collection examples
  README.md
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeSpec.kt
Due: none

transform map examples and data-driven test examples
  README.md
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeSpec.kt
Due: none

transform additional hints and pitfalls, allow split, fix example link
  README.md
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/containsHelperFun.kt
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeSpec.kt
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeTestEngine.kt
Due: domain

transform own assertion and do not require a test for snippets
  README.md
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeExecutionListener.kt
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeSpec.kt
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeTestEngine.kt
Due: none

improve explanation about redirect
  latest/index.html
Due: none

transform i18n and FAQ
  README.md
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeSpec.kt
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeTestEngine.kt
Due: none

update the roadmap, document support for 1.2 and drop in 1.0.0
  README.md
Due: none

fix example URL in README
  samples/readme-examples/build.gradle
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeTestEngine.kt
Due: none

fix example URL in README part 2 - forgot to generate
  README.md
Due: none

fix ReplaceWith of CoreFactory.newXyPlant
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-js/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
  core/api/atrium-core-api-jvm/src/main/kotlin/ch/tutteli/atrium/core/CoreFactory.kt
Due: core

fix throwableAssertions deprecation replacements
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/throwableAssertions.kt
Due: api

improve deprecation message of `subject`, mention switch to Expect
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/creating/SubjectProvider.kt
Due: core

fix snippet-import, exclude Assertion
  samples/readme-examples/src/main/kotlin/readme/examples/ReadmeSpec.kt
Due: none

manual adjusting first example
  README.md
Due: none

deprecate cc-en_GB feature assertions, introduce asAssert for nullable
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/featureAssertions.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/migration/assertToExpect.kt
Due: api, domain

add warning about discontinuation of cc-de_CH
  README.md
Due: none

add `asAssert` to replacement so that subsequent assertion still compile
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/anyAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/arrayAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/charSequenceAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/collectionAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/comparableAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/floatingPointAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/listAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/mapAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/mapEntryAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/sequenceAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/throwableAssertions.kt
Due: api

add type hint to ReplaceWith of isA
  apis/cc-en_GB/atrium-api-cc-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/typeTransformationAssertions.kt
Due: api

start deprecation message with upper case
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedContainsInAnyOrderCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedContainsInAnyOrderOnlyCreators.kt
  apis/cc-de_CH/atrium-api-cc-de_CH-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/iterableDeprecatedContainsInOrderOnlyCreators.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderDeprecatedCreators.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInAnyOrderOnlyDeprecatedCreators.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/iterableContainsInOrderOnlyDeprecatedCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderDeprecatedCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInAnyOrderOnlyDeprecatedCreators.kt
  apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/iterableContainsInOrderOnlyDeprecatedCreators.kt
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/charSequenceAssertions.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/polyfills/formatFloatingPointNumber.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/MethodCallFormatter.kt
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Untranslatable.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/assertions/composers/AssertionComposer.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/any/typetransformation/failurehandlers/FailureHandlerFactory.kt
  domain/api/atrium-domain-api-common/src/main/kotlin/ch/tutteli/atrium/domain/creating/feature/extract/impl/deprecatedImpl.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/assertions/composers/descriptiveWithFailureHint.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandler.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandlerBase.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/any/typetransformation/failurehandlers/ExplanatoryFailureHandlerWithHint.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/feature/extract/creators/FeatureExtractorCreatorImpl.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/deprecatedContainsHelperFun.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/throwable/thrown/providers/providers.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/assertions/composers/AssertionComposerImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/FeatureAssertionsImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/any/typetransformation/creators/AnyTypeTransformationAssertionsImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/any/typetransformation/failurehandlers/FailureHandlerFactoryImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/collectors/assertionCollectorsForExplanation.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/feature/extract/creators/FeatureExtractorCreatorFactoryImpl.kt
  domain/robstoll/atrium-domain-robstoll-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/creating/throwable/thrown/providers/AbsentThrowableMessageProviderFactoryImpl.kt
  misc/atrium-spec/src/main/kotlin/ch/tutteli/atrium/spec/integration/CharSequenceContainsDefaultTranslationAssertionsSpec.kt
Due: api, domain, core, misc

remove debug code should not have been committed
  apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/charSequenceAssertions.kt
Due: api

remove coreFactory from ExpectImpl, use it directly
  core/robstoll-lib/atrium-core-robstoll-lib-js/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/AdjustStackTest.kt
  core/robstoll-lib/atrium-core-robstoll-lib-jvm/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/AdjustStackSpec.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/ExpectImpl.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/migration/assertToExpect.kt
  domain/builders/atrium-domain-builders-common/src/main/kotlin/ch/tutteli/atrium/domain/builders/reporting/impl/verb/defaultImpls.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/changers/changeSubject.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/changers/extractFeature.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/iterable/contains/creators/InAnyOrderEntriesAssertionCreator.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/mapAssertions.kt
  domain/robstoll-lib/atrium-domain-robstoll-lib-common/src/main/kotlin/ch/tutteli/atrium/domain/robstoll/lib/creating/throwable/thrown/creators/creators.kt
Due: domain, core

remove js projects from docProjects for now as it causes problems
  build.gradle
  core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/reporting/translating/Translator.kt
  gradle/scripts/gh-pages.gradle
Due: core

Add classpath
  gradle/scripts/gh-pages.gradle
Due: none

also build windows for pull_requests
  .github/workflows/java-windows.yml
Due: none

rename cleanGhPages to removeGhPages
  build.gradle
  gradle/scripts/gh-pages.gradle
Due: none

Small commits are allowed for pull requests
  .github/CONTRIBUTING.md
Due: none

expose mockk as API of specs
  misc/specs/atrium-specs-android/build.gradle
  misc/specs/atrium-specs-js/build.gradle
  misc/specs/atrium-specs-jvm/build.gradle
Due: none

remove space after newcommer badge
  README.md
Due: none

add `asAssert` to replacement also for jvm assertions
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/bigDecimalAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/floatingPointJvmAssertions.kt
  apis/cc-en_GB/atrium-api-cc-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/cc/en_GB/typeTransformationDeprecatedAssertions.kt
Due: api

Path conditions:
  api: any of: apis/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/ExpectImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, misc/specs/**/*, misc/atrium-bc-test/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  domain: any of: domain/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/ExpectImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, misc/specs/**/*, misc/atrium-bc-test/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  core: any of: core/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/ExpectImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, misc/specs/**/*, misc/atrium-bc-test/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
  misc: any of: misc/, but not: domain/builders/**/AssertImpl.kt, domain/builders/**/ExpectImpl.kt, domain/builders/**/creating/**Builder.kt, domain/builders/**/creating/*Builders.kt, misc/atrium-assertions/**/*, misc/specs/**/*, misc/atrium-bc-test/**/*, apis/**/assertions/**/*, domain/api/**/assertions/**/*, domain/atrium-domain-api-deprecated/**/*, **/IAtriumFactory.kt, **/AtriumFactory.kt
